/* TODO Add site wide styles */
body {
  margin: 0;
}

.login_form {
  margin: 10px;
}

/* .navbar-header-container {

} */

.navbar-container {
  display: flex;
  background: linear-gradient(45deg, #192841 30%, #23395d 90%);
}

.logout-button-container {
  margin-left: 10px;

}

.button-container {
  display: flex;
  flex-direction: column;
}

.server-container {
  flex-direction: column;
}

.channel-container {
  flex-direction: column;
}
.message-view {
  /* margin-top: 100px; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 100px;
}
